.swiper-container {
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 0;
}

.swiper-container-mobile {
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 0;
  display: none;
}


.swiper-slide {
  background: #fff0;
}

.swiper-button-prev {
  display: block;
  height: 38px;
  width: 38px;
  margin-right: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%232D2D2D'/%3e%3c/svg%3e");
}

.swiper-button-prev-mobile {
  display: none;
  height: 38px;
  width: 38px;
  margin-right: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%232D2D2D'/%3e%3c/svg%3e");
}

.swiper-button-prev:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='%23E3BF77' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%23fff'/%3e%3c/svg%3e");
}

.swiper-button-next-mobile {
  display: none;
  height: 38px;
  width: 38px;
  transform: scale(-1, 1);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%232D2D2D'/%3e%3c/svg%3e");
}

.swiper-button-next {
  display: block;
  height: 38px;
  width: 38px;
  transform: scale(-1, 1);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%232D2D2D'/%3e%3c/svg%3e");
}

.swiper-button-next:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='%23E3BF77' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%23fff'/%3e%3c/svg%3e");
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-prev:after {
  content: none;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: none;
}

.swiper-button-next, .swiper-button-prev {
  position: unset;
  top: 0px;
}

.navigation-events {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

:root {
  --swiper-navigation-size: unset;
}

.swiper-container-horizontal>.swiper-pagination-progressbar {
  top: unset;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.06)
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #E3BF77;
  border-radius: 7px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-pagination-main {
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
}

.swiper-pagination-bullet {
  width: 80px;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  background-color: unset;
  border: unset;
}

.swiper-button-prev-main:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='%23E3BF77' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%23fff'/%3e%3c/svg%3e");
}

.swiper-button-next-main {
  display: block;
  height: 38px;
  width: 38px;
  transform: scale(-1, 1);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%23fff'/%3e%3c/svg%3e");
}

.swiper-button-prev-main {
  display: block;
  height: 38px;
  width: 38px;
  margin-right: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%23fff'/%3e%3c/svg%3e");
}

.swiper-button-next-main:hover {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='38' height='38' fill='%23E3BF77' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='18' transform='matrix(-1 0 0 1 19 19)' stroke='%23E3BF77' stroke-width='2'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.707 23.607a1 1 0 01-1.414 1.414l-4.95-4.95a1 1 0 010-1.414l.01-.01 4.94-4.94a1 1 0 011.414 1.414l-4.242 4.243 4.242 4.243z' fill='%23fff'/%3e%3c/svg%3e");
}

.swiper-button-prev-main:after, .swiper-container-rtl .swiper-button-prev-main:after {
  content: none;
}

.swiper-button-next-main:after, .swiper-container-rtl .swiper-button-prev-main:after {
  content: none;
}

.swiper-button-next-main, .swiper-button-prev-main {
  position: unset;
  top: 0px;
}

.swiper-background {
  position: absolute;
  height: fit-content;
  width: fit-content;
}

.background-bullet1 {
  background-image: url('../img/main_menu_ico/bottom_navi/serv.svg');
  display: flex;
  width: 155px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
}

.background-bullet2 {
  background-image: url('../img/main_menu_ico/bottom_navi/serv1.svg');
  display: flex;
  width: 155px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
}

.background-bullet3 {
  background-image: url('../img/main_menu_ico/bottom_navi/serv2.svg');
  display: flex;
  width: 155px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
}

.background-bullet4 {
  background-image: url('../img/main_menu_ico/bottom_navi/serv4.svg');
  display: flex;
  width: 155px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
}

.background-bullet5 {
  background-image: url('../img/main_menu_ico/bottom_navi/serv5.svg');
  display: flex;
  width: 155px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
}

.background-bullet6 {
  background-image: url('../img/main_menu_ico/bottom_navi/serv6.svg');
  display: flex;
  width: 155px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
}

@media (max-width: 1290px) {
  .swiper-button-prev-mobile {
    display: block;
  }
  .swiper-button-next-mobile {
    display: block;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-container {
    display: none;
  }
  .swiper-container-mobile {
    display: block;
  }
  .swiper-pagination-main {
    justify-content: center;
    height: 100%;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: green;
  }
  :root {
    --swiper-navigation-size: 44px;
  }
  .background-bullet1 {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .2;
  }
  .background-bullet2 {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .2;
  }
  .background-bullet3 {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .2;
  }
  .background-bullet4 {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .2;
  }
  .background-bullet5 {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .2;
  }
  .background-bullet6 {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: .2;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.3;
    margin-right: 10px;
  }

  .swiper-slide {
    margin-bottom: 0px;
  }
  
}

@media (max-width: 1290px) {
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #FFFFFF;
  }
}